{% extends 'base.html' %}

{% load homotags %}

{% block body_class %}add-tag-form{% endblock %}

{% block main_block %}
    <form class="form-add-tag-form ajax-content" method="post">
        <div class="card" style="">
            <div class="card-header form-title no-modal">
                {{ title }}
            </div>
            <div class="card-body">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}

                {% include "forms/inc/errors.html" %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {{ field|set_css_class:'form-control'|placeholder:field.label }}
                    </div>
                {% endfor %}

            </div>
            <div class="card-footer no-modal">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
        </div>
    </form>
{% endblock %}
