{% extends 'base.html' %}

{% load static %}
{% load homotags %}

{% block body_class %}login-page{% endblock %}

{% block wrap_header %}{% endblock %}

{% block wrap_main %}
    <form class="form-signin" method="post">
        {% csrf_token %}

        <img class="mb-4" src="{% static "homodaba/img/logo.png" %}?v={% homodaba_version %}" alt="" width="72" height="72">
        {% include "form/errors.html" %}

        {% for field in form.visible_fields %}
            <label for="{{ field.id_for_label }}" class="sr-only">
                {{ field.label }}
            </label>
            {{ field|set_css_class:'form-control'|placeholder:field.label }}
        {% endfor %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
    </form>
{% endblock %}

{% block wrap_footer %}{% endblock %}