{% load static %}
{% load homotags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "homodaba/css/main.thirdparty.css" %}?v={% homodaba_version %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "homodaba/css/main.css" %}?v={% homodaba_version %}" media="screen" />

    <script type="text/javascript" src="{% static "homodaba/js/main.thirdparty.js" %}?v={% homodaba_version %}"></script>
    <script type="text/javascript" src="{% static "homodaba/js/main.js" %}?v={% homodaba_version %}"></script>

    <title>{% block title %}Homodaba{% endblock %}</title>
</head>

<body class="{% block body_class %}home-page{% endblock %}">
    {% block wrap_header %}
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "homodaba/img/logo-horizontal.png" %}?v={% homodaba_version %}" alt="HOMODABA" class="img-fluid brand" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item home-page active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item search-movies-page">
                        <a class="nav-link" href="{% url 'search_movies' %}">Buscar</a>
                    </li>
                    <li class="nav-item later-movies-page">
                        <a class="nav-link" href="{% url 'user_later_movies' %}">Ver despues</a>
                    </li>
                    <li class="nav-item search-unseen-movies-page">
                        <a class="nav-link" href="{% url 'search_movies' %}?unseen=True">Pelis no vistas</a>
                    </li>
                    {% if request.user.is_staff %}
                        <li class="nav-item admin-page">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item logout-page">
                        <a class="nav-link" href="{% url 'logout' %}">Salir ({{ request.user.username }})</a>
                    </li>
                </ul>

                <form class="search-mini-form form-inline mt-2 mt-md-0" action="{% url 'search_movies' %}">
                    <input name="search_term" class="form-control mr-sm-2" type="text" placeholder="Buscar películas" aria-label="Buscar películas">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </header>
    {% endblock %}

    {% block wrap_main %}
    <!-- Begin page content -->
    <main style="margin-bottom: 6rem;" role="main" class="container">
        {% block main_block %}{% endblock %}
        {% comment %}
        <h1 class="mt-5">Sticky footer with fixed navbar</h1>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
        <p>Back to <a href="../sticky-footer/">the default sticky footer</a> minus the navbar.</p>
        {% endcomment %}
    </main>
    {% endblock %}

    {% block wrap_footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                🎥 <a href="https://github.com/moz667/homodaba">HOMODABA</a> &bullet; 
                2021 <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="({% homodaba_version %})">❤</a>
                <a href="https://github.com/bpk667">@bpk667</a> 
                <a href="https://github.com/moz667">@moz667</a>
            </span>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
