{% extends 'base.html' %}

{% load homotags %}

{% block title %}Buscador de peliculas{% endblock %}

{% block body_class %}{% if filters.unseen %}search-unseen-movies-page{% else %}search-movies-page{% endif %}{% endblock %}

{% block main_block %}
    <div class="my-3 p-3">
        {% include "inc/search_form.html" %}
    </div>

    {% if search_movies %}
        <div class="search-results-wrap mb-5">
            <h4 class="border-bottom border-gray pb-2 mb-0">Resultados de la busqueda</h4>
            
            <div class="results alert alert-info">
                {% if paginator.count == 1 %}
                    Se ha encontrado solo una película con esos criterios de búsqueda.
                {% else %}
                    {{ paginator.count }} peliculas encontradas.
                {% endif %}
            </div>

            <div class="search-results card-deck">
                {% for movie in search_movies %}
                    {% include "parts/movie.html" with movie=movie %}
                {% endfor %}
            </div>
        </div>

        {% comment %}
        <!-- status elements -->
        <div class="scroller-status">
            <div class="infinite-scroll-request loader-ellips">
            ...
            </div>
            {% if not next_page %}
                <p class="infinite-scroll-last">No hay mas películas para la búsqueda actual.</p>
            {% endif %}
        </div>
        {% endcomment %}

        {% if next_page %}
            <div style="padding-bottom: 2rem;" class="pagination">
                <a class="pagination__next btn btn-primary btn-block" 
                    href="?search_term={{ search_term }}{% search_filters_as_url_args filters '' %}&page={{ next_page }}&order_by={{ order_by }}">
                    Siguiente página
                </a>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-warning">
            No se ha encontrado películas con esos criterios de búsqueda.
        </div>
    {% endif %}

{% endblock %}