<h1>Buscador de películas</h1>
<div class="alert alert-primary" role="alert">
    <form method="GET" action="{% url 'search_movies' %}">
        <input type="hidden" name="director" value="{{ filters.director }}" />
        <input type="hidden" name="writer" value="{{ filters.writer }}" />
        <input type="hidden" name="actor" value="{{ filters.actor }}" />
        <input type="hidden" name="tag" value="{{ filters.tag }}" />
        <input type="hidden" name="genre" value="{{ filters.genre }}" />
        <input type="hidden" name="cr_system" value="{{ filters.cr_system }}" />
        <input type="hidden" name="user_tag" value="{{ filters.user_tag }}" />
        <input type="hidden" name="unseen" value="{{ filters.unseen }}" />

        {% if filters.director %}
            {% include "inc/filter_tag.html" with tag=filters.director badge_style='dark' remove_url_tag='director' left_icon='bullhorn' %}
        {% endif %}

        {% if filters.writer %}
            {% include "inc/filter_tag.html" with tag=filters.writer badge_style='dark' remove_url_tag='writer' left_icon='typewriter' %}
        {% endif %}

        {% if filters.actor %}
            {% include "inc/filter_tag.html" with tag=filters.actor badge_style='dark' remove_url_tag='actor' left_icon='drama-masks' %}
        {% endif %}

        {% if filters.tag %}
            {% include "inc/filter_tag.html" with tag=filters.tag badge_style='success' remove_url_tag='tag' %}
        {% endif %}

        {% if filters.genre %}
            {% include "inc/filter_tag.html" with tag=filters.genre badge_style='info' remove_url_tag='genre' %}
        {% endif %}

        {% if filters.cr_system %}
            {% include "inc/filter_tag.html" with tag=filters.cr_system badge_style='danger' remove_url_tag='cr_system' %}
        {% endif %}

        {% if filters.user_tag %}
            {% include "inc/filter_tag.html" with tag=filters.user_tag badge_style='user-tag' remove_url_tag='user_tag' %}
        {% endif %}

        {% if filters.unseen %}
            {% include "inc/filter_tag.html" with tag='No vistas' badge_style='dark' remove_url_tag='unseen' left_icon='eye-off-outline' %}
        {% endif %}

        <div class="search-controls input-group my-3">
            <div class="input-group-prepend">
                <select class="select-order-by form-control" name="order_by">
                    <option value="">Ordenado...</option>
                    <option value="-id"{% if order_by == '-id' %} selected="selected"{% endif %}>... de mas nuevo a mas viejo</option>
                    <option value="id"{% if order_by == 'id' %} selected="selected"{% endif %}>... de mas viejo a mas nuevo</option>
                    <option value="-year"{% if order_by == '-year' %} selected="selected"{% endif %}>... por año (descendente)</option>
                    <option value="year"{% if order_by == 'year' %} selected="selected"{% endif %}>... por año (ascendente)</option>
                    <option value="title"{% if order_by == 'title' %} selected="selected"{% endif %}>... por titulo internacional</option>
                    <option value="title_original"{% if order_by == 'title_original' %} selected="selected"{% endif %}>... por titulo original</option>
                    <option value="title_preferred"{% if order_by == 'title_preferred' %} selected="selected"{% endif %}>... por titulo en español</option>
                </select>
                <div class="input-group-text">
                    <input name="only_imdb" id="only_imdb" type="checkbox" 
                        aria-label="Solo IMDb" title="Solo IMDb" value="1"
                        {% if filters.only_imdb %}checked="checked"{% endif %}
                    >
                    <label class="form-check-label" for="only_imdb">
                        <span class="show-mobile">
                            &nbsp;Solo IMDb
                        </span>
                        <span class="hide-mobile">
                            &nbsp;IMDb
                        </span>
                    </label>
                </div>
            </div>
            
            <input name="search_term" value="{{ search_term }}" type="text" class="form-control" placeholder="Términos a buscar..." aria-label="Términos a buscar" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>
    </form>
</div>