{% load homotags %}

<div style="flex: 1 0 30%" class="card my-2 movie-item">
    <div class="card-header text-truncate">
        <div style="position: absolute; top; 1rem; right: 1rem;" class="user-tag-switcher-wrap">
            <a class="user-tag-switcher" href="javascript:void(0);" 
                data-url="{% url 'json_switch_later_tag' movie_id=movie.id  %}">
                {% movie_contain_user_tag movie=movie user=request.user tag_type='later' as is_movie_contain_later_tag %}
                <em style="color: #e79900; font-size: 1.5rem;" class="mdi mdi-star{% if not is_movie_contain_later_tag %}-outline{% endif %}"> </em>
            </a>
        </div>

        <div style="overflow: hidden; text-overflow: ellipsis;" class="movie-title">
            {{ movie.get_the_main_title }} ({{ movie.year }})
        </div>

        <div style="overflow: hidden; text-overflow: ellipsis;" class="directors">
            <em>
                {% for director in movie.get_directors %}
                    <a href="{% url 'search_movies' %}?director={{ director.name }}{% if director.imdb_id %} [{{ director.imdb_id }}]{% endif %}{% search_filters_as_url_args filters 'director' %}">
                        {{ director.name }}
                    </a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </em>
        </div>

        <div style="overflow: hidden; text-overflow: ellipsis;" class="countries">
            <small>
                {% for country in movie.countries.all %}
                    {{ country }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </small>
        </div>
    </div>
    <div class="card-body">
        <div class="plot-and-image">
            <div style="max-width: 50%; margin-right: 1rem; position: relative; border:1px solid rgba(0, 0, 0, 0.125)" class="img-fluid float-left" >
                <span style="position: absolute; right: 0.3rem; top: 0.3rem;" class="badge badge-primary">{{ movie.rating }}</span>
                <a href="{{ movie.get_imdb_url }}" target="_blank">
                    <img class="img-fluid float-left" 
                        src="{{ movie.clean_poster_thumbnail_url }}" alt="{{ movie.get_the_main_title }}" />
                </a>
            </div>
            <p class="card-text">
                {{ movie.get_plot }}
            </p>
        </div>

        {% if movie.get_other_main_titles %}
            <div class="other-titles" style="clear: both; padding-top: 1rem;">
                <strong class="d-block">Tambien conocida como:</strong>
                <ul>
                    {% for other_title in movie.get_other_main_titles %}
                        <li>
                            {{ other_title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if movie.tags.all or movie.genres.all or movie.content_rating_systems.all or movie.user_tags.all %}
            <div class="tag-cloud" style="clear: both; padding-top: 1rem;">
                {% if movie.tags.all %}
                    {% for tag in movie.tags.all %}
                        <a class="badge badge-success" href="{% url 'search_movies' %}?tag={{ tag }}{% search_filters_as_url_args filters 'tag' %}">
                            {{ tag }}
                        </a>
                    {% endfor %}
                {% endif %}

                {% if movie.genres.all %}
                    {% for tag in movie.genres.all %}
                        <a class="badge badge-info" href="{% url 'search_movies' %}?genre={{ tag }}{% search_filters_as_url_args filters 'genre' %}">
                            {{ tag }}
                        </a>
                    {% endfor %}
                {% endif %}

                {% if movie.content_rating_systems.all %}
                    {% for tag in movie.content_rating_systems.all %}
                        <a class="badge badge-danger" href="{% url 'search_movies' %}?cr_system={{ tag }}{% search_filters_as_url_args filters 'cr_system' %}">
                            {{ tag }}
                        </a>
                    {% endfor %}
                {% endif %}

                {% if movie.user_tags.all %}
                    {% for tag in movie.user_tags.all %}
                        <a class="badge badge-user-tag" href="{% url 'search_movies' %}?user_tag={{ tag }}{% search_filters_as_url_args filters 'user_tag' %}">
                            {{ tag }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="card-footer">
        <div class="storage-types">
            {% if movie.get_storage_types %}
                {% for st in movie.get_storage_types %}
                    <div style="" class="storage-type-item storage-type-{{ st.storage_type }}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn-copy btn btn-primary btn-sm{% if st.is_original %} disabled{% endif %}">
                                    <em class="mdi mdi-content-copy"> </em>
                                </button>
                            </div>
                            <textarea readonly="readonly" class="form-control storage-type-info">{% if st.is_original %}{{ st.storage_type }}{% endif %}{% if st.is_drive %}{{ st.name }}{% endif %}{% if st.is_net_share or st.is_drive %}{{ st.path }}{% endif %}</textarea>
                            <div class="input-group-append">
                                <button class="btn-open-url btn btn-primary btn-sm{% if not st.get_url_to_storage_type %} disabled{% endif %}" data-url="{% if st.get_url_to_storage_type %}{{ st.get_url_to_storage_type }}{% endif %}">
                                    <em class="mdi mdi-link"> </em>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    No hay medios de almacenamiento para esta pelicula.
                </div>
            {% endif %}
        </div>
    </div>
</div>
